html { 
  background: url(bike.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face{

	src: url(CenturyGothic.ttf);
	font-family: "Cent";
}

.box {
	width: 700px;
	background: rgba(0,0,0,0.4);
	padding: 40px;
	text-align:  center;
	margin: auto;
	margin-top: 3%;
	font-family: "Cent";
	color: white;
}

.box-img{

	border-radius: 60%;
	width: 250px;
	height: 250px;
}

.box h1{

	font-size: 40px;
	letter-spacing: 4px;
	font-weight: 100;
}

.underline {
	text-align:  center;
	font-family: "Cent";
	text-decoration: underline;
	margin: auto;
	font-size: 23px;
	
}

.educ {
	text-align:  center;
	font-family: "Cent";
	text-decoration: underline;
	margin: auto;
	font-size: 23px;
}

.skills {
	text-align:  center;
	font-family: "Cent";
	text-decoration: underline;
	margin: auto;
	font-size: 23px;
}

.hobs {
	text-align:  center;
	font-family: "Cent";
	text-decoration: underline;
	margin: auto;
	font-size: 23px;
}

.personal {
	width: 680px;
	background: rgba(0,0,0,0.4);
	color: white;
	padding: 50px;
	text-align: center; ;
	font-family: "Cent";
	margin: auto;
	
	
}

.personal p {
	font-size: 17px;
	letter-spacing: 1px;
	font-weight: 600;
}

.links{
    
    text-align:  center;
    background: rgba(0,0,0,0.4);   

}

